[Desktop Entry]
Name=Firefox
Comment=Web Browser
Exec=firefox %U
Icon=firefox
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=firefox