# Caelestia Shell: Allow non-root users in active session / wheel group to write to battery charge limit sysfs nodes
ACTION=="add|change", SUBSYSTEM=="power_supply", ATTR{charge_control_end_threshold}!="", MODE="0666"
ACTION=="add|change", SUBSYSTEM=="platform", KERNEL=="VPC2004:00", RUN+="/usr/bin/chmod 0666 /sys/bus/platform/drivers/ideapad_acpi/VPC2004:00/conservation_mode"
ACTION=="add|change", SUBSYSTEM=="platform", DRIVER=="ideapad_acpi", RUN+="/usr/bin/chmod 0666 /sys%p/conservation_mode"
ACTION=="add|change", SUBSYSTEM=="platform", DRIVER=="asus-nb-wmi", RUN+="/usr/bin/chmod 0666 /sys%p/charge_control_end_threshold"
ACTION=="add|change", SUBSYSTEM=="platform", DRIVER=="huawei-wmi", RUN+="/usr/bin/chmod 0666 /sys%p/charge_control_thresholds"
ACTION=="add|change", SUBSYSTEM=="platform", DRIVER=="lg-laptop", RUN+="/usr/bin/chmod 0666 /sys%p/battery_care_limit"
ACTION=="add|change", SUBSYSTEM=="platform", DRIVER=="samsung", RUN+="/usr/bin/chmod 0666 /sys%p/battery_life_extender"
